#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}

#book {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}

#modal-textbox {
    font: Arial;
    font-size: 16px;
	background-color: lemonchiffon;
	height: 600px;
	width: 550px;
    border-radius: 2px;
    margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 2%;
    line-height: 100%;
}

#book-textbox {
    font: Arial;
    font-size: 16px;
	background-color: lemonchiffon;
	height: 225px;
	width: 525px;
    border-radius: 2px;
    margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 2%;
    line-height: 100%;
}

#modal-textbox > p {
    display: block;
}

#modal-footer {
	text-align: right;
}

#book-footer {
	text-align: right;
}

h1 {
	padding-bottom: 15px;
}

.modal-buttons {
    margin: 0;
    padding: 10px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}

#simulate-btn {
    align-self: center;
	background-color: #677996;
	border: none;
	outline: none;
	color: white;
	font-family: 'Arial';
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
}

.mid {
    display: flex;
    flex-direction: column ;
    flex-grow: 1;
}

.left {
    display: flex;
    flex-direction: column;
    border-style: solid;
    flex-grow: 1;
}

.right {
    /* display: flex; */
    /* flex-direction: column; */
    border-style: solid;
    flex-grow: 1;
}

#displaycash {
    border-style: solid none solid none;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#price {
    border-style: solid none solid none;
    flex-grow: 1;
}

#pourice {
    border-style: none none solid none;
    flex-grow: 1;
}

#displaygamestat, #price, #pourice {
    font-size: 25px;
    padding: 10px;
}
#simulate {
    border-style: none none solid none;
    flex-grow: 2;
}

body {
    background-color: lemonchiffon;
}

#cupsupplies {
    position: relative;
    margin: 0 auto;
}

#icecubessupplies {
    position: relative;
    margin: 0 auto;
}

#expenditures {
    position: relative;
    margin: 0 auto;
}

#revenue {
    position: relative;
    margin: 0 auto;
}

table {
    font-size: 25px;
}

#expenditures, #revenue, #cupsupplies, #icecubessupplies {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

button {
    font-size: 30px;
    
}

h2 {
    font-size: 50px;
}

#expenditures tr:nth-child(odd), #revenue tr:nth-child(odd) {
    background-color: #dddddd;
}

th {
    text-align: left;
}

button:hover {
    cursor: pointer;
}

input#icecubebox {
    transform: scale(2);
}

h1 {
    font-size: 50px;
}
